.CreatePost {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.Title {
  padding: 1%;
  font-size: large;
  margin-top: 2%;
}

.FileInput {
  padding: 1%;
  font-size: large;
  margin-top: 2%;
  width: 100%;
}
