.PostCard {
  margin: 2%;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.PostsWrapper {
  padding-bottom: 5%;
}

.Container {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.Behind {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.Forward {
  top: 0;
  left: 0;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}
